.TaskGroup {
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  /* border-radius: 15px; */
  font-size: 1rem;
}
.TaskGroup > .label {
  font-size: 1.5em;
  background: rgba(136, 136, 136, 0.6);
}
.TaskGroup > .fold {
  font-size: 0.9em;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 0 0 0.1em;
  cursor: pointer;
}

.TaskItem {
  max-width: 475px;
  width: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.822);
}
.TaskItem:hover {
  background-color: rgb(247, 242, 242);
}
.TaskItem .title {
  font-size: 1.3em;
}
.TaskItem .deadline {
  font-size: 0.8em;
}
.TaskItem .form-check-input:hover {
  cursor: pointer;
}
.TaskItem .input-group {
  min-width: 32px;
}
