.SidebarContainer {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: auto;
}
.SidebarContainer .sidebar {
  min-width: 2rem;
  max-width: 320px;
  font-size: 1.2rem;
  transition: all 0.5s;
}
.SidebarContainer .sidebar svg {
  font-size: 2.5rem;
}
.SidebarContainer .sidebar .nav-link {
  cursor: pointer;
  color: white;
}
