.SidebarContainer {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: auto;
  z-index: 500;
}
.SidebarContainer > .sidebar {
  min-width: 2rem;
  max-width: 320px;
  font-size: 1.2rem;
  transition: all 0.5s;
}
.SidebarContainer > .sidebar svg {
  font-size: 2.5rem;
}
.SidebarContainer > .sidebar .nav-link {
  cursor: pointer;
  color: gray;
}

.SidebarContainer > .navbar {
  width: 100%;
  font-size: 1.2rem;
  display: none;
}

@media only screen and (max-width: 415px) {
  .SidebarContainer > .sidebar {
    display: none;
  }
}
