.Children {
  height: 100%;
  width: 100%;
}

.ChildrenTask {
  width: 100%;
  overflow-y: auto;
}

.ChildrenPrize {
  height: 100%;
  width: 100%;
}

.ChildrenPage-bg {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url("img/background-10.jpg");
  background-size: cover;
}
