.Children {
  height: 100%;
  width: 100%;
}

.ChildrenTask {
  width: 100%;
  overflow-y: auto;
}

.ChildrenPrize {
  height: 100%;
  width: 100%;
}

.ChildrenPage-bg {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url("img/background-10.jpg");
  background-size: cover;
}

.ChildrenWish {
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

.ChildrenWish .alert {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
  z-index: 999;
}

.ChildrenWish label {
  font-size: 2em;
}


.wishBlur-bg {
  width: 23%;
  height: 27%;
  position: fixed;
  z-index: -1;
  border: white solid 0.5rem;
  border-radius: 1rem;
  background: rgba(200, 200, 200, 0.6);
}
