.Children {
  height: 100%;
  width: 100%;
}

.ChildrenTask {
  width: 100%;
  overflow-y: auto;
}

.ChildrenPrize {
  height: 100%;
  width: 100%;
}

.ChildrenWish {
  height: 100%;
  width: 100%;
}

.ChildrenWish .alert {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
  z-index: 999;
}
