.CreateTaskForm {
  position: fixed;
  margin: auto;
  border: black solid;
  padding: 1rem;
  /* background-color: white;
  width: 80%;
  border-radius: 0.5rem; */
}

.close {
  cursor: pointer;
  float: right;
}

.CreateButton {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 1rem;
}