.ParentMenu {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.TaskForm {
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

.ClickToCreate {
  user-select: none;
}

.ClickToCreate:hover {
  cursor: pointer;
}
