html {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  width: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}
.Main {
  min-height: 100vh;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  width: 100%;
}
h1.custom-title {
  color: white;
  background: black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
