.Lobby .create-room:hover {
  background-color: rgb(209, 209, 209);
  cursor: pointer;
}

.Lobby-bg {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url("img/background-3.jpg");
  background-position: top right;
}

.Lobby .loading {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
  z-index: 999;
}
